# Progetto Foundations of Computer Science

You have to work on the files:
*  [Books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz)
*  [Book ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz)
*  [Users](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz)
*  [Goodbooks books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz)
*  [Goodbooks ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz)

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    To read those files, you need to use the `encoding = 'latin-1'` option.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com), otherwise no  answer will be given.

### Import and read files
Importazione delle librerie utilizzate

In [65]:
import pandas as pd
import numpy as np
import re
import collections as coll

### PANORAMICA DEI DATASET UTILIZZATI

In [66]:
users = pd.read_csv(r"C:\Users\rendy\Desktop\esame\Users.csv", sep=';', encoding = 'latin-1')
users.head(10)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
5        6       santa monica, california, usa  61.0
6        7                 washington, dc, usa   NaN
7        8            timmins, ontario, canada   NaN
8        9          germantown, tennessee, usa   NaN
9       10          albacete, wisconsin, spain  26.0

In [133]:
books = pd.read_csv(r"C:\Users\rendy\Desktop\esame\Books.csv", sep=';', encoding = 'latin-1')
books.head(10)

C:\Users\rendy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...

In [136]:
booksr = pd.read_csv(r"C:\Users\rendy\Desktop\esame\Book-Ratings.csv", sep=';', encoding = 'latin-1')
booksr.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [69]:
goodbooks = pd.read_csv(r"C:\Users\rendy\Desktop\esame\goodbooks.csv", encoding = 'latin-1')
goodbooks.head(10)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
5,6,11870085,11870085,16827462,226,525478817,9.780525e+12,John Green,2012.0,The Fault in Our Stars,...,2346404,2478609,140739,47994,92723,327550,698471,1311871,https://images.gr-assets.com/books/1360206420m...,https://images.gr-assets.com/books/1360206420s...
6,7,5907,5907,1540236,969,618260307,9.780618e+12,J.R.R. Tolkien,1937.0,The Hobbit or There and Back Again,...,2071616,2196809,37653,46023,76784,288649,665635,1119718,https://images.gr-assets.com/books/1372847500m...,https://images.gr-assets.com/books/1372847500s...
7,8,5107,5107,3036731,360,316769177,9.780317e+12,J.D. Salinger,1951.0,The Catcher in the Rye,...,2044241,2120637,44920,109383,185520,455042,661516,709176,https://images.gr-assets.com/books/1398034300m...,https://images.gr-assets.com/books/1398034300s...
8,9,960,960,3338963,311,1416524797,9.781417e+12,Dan Brown,2000.0,Angels & Demons,...,2001311,2078754,25112,77841,145740,458429,716569,680175,https://images.gr-assets.com/books/1303390735m...,https://images.gr-assets.com/books/1303390735s...
9,10,1885,1885,3060926,3455,679783261,9.780680e+12,Jane Austen,1813.0,Pride and Prejudice,...,2035490,2191465,49152,54700,86485,284852,609755,1155673,https://images.gr-assets.com/books/1320399351m...,https://images.gr-assets.com/books/1320399351s...

In [70]:
good_ratings = pd.read_csv(r"C:\Users\rendy\Desktop\esame\goodbooks-ratings.csv", encoding = 'latin-1', sep=',', low_memory=False)
good_ratings.head(10)

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3
5        2       26       4
6        2      315       3
7        2       33       4
8        2      301       5
9        2     2686       5

### 1. Normalize the location field of Users dataset, splitting into city, region, country.

In [71]:
# spezzo la colonna 'Location' del dataframe users in più colonne
location = users['Location'].str.split(',', n = 2,  expand=True)
location = location.set_axis(['city', 'region', 'country'], axis=1, inplace=False)
location.head(10)

           city            region          country
0           nyc          new york              usa
1      stockton        california              usa
2        moscow   yukon territory           russia
3         porto          v.n.gaia         portugal
4   farnborough             hants   united kingdom
5  santa monica        california              usa
6    washington                dc              usa
7       timmins           ontario           canada
8    germantown         tennessee              usa
9      albacete         wisconsin            spain

In [9]:
#assegno alle nuove colonne i seguenti nomi: city, region, country.
location = location.set_axis(['city', 'region', 'country'], axis=1, inplace=False)
location

               city            region          country
0               nyc          new york              usa
1          stockton        california              usa
2            moscow   yukon territory           russia
3             porto          v.n.gaia         portugal
4       farnborough             hants   united kingdom
...             ...               ...              ...
278853     portland            oregon              usa
278854       tacoma        washington   united kingdom
278855     brampton           ontario           canada
278856    knoxville         tennessee              usa
278857       dublin               n/a          ireland

[278858 rows x 3 columns]

In [72]:
#unisco i due dataframe ad elimino la colonna Location
usersnew = pd.concat([users, location], axis=1)
del usersnew["Location"]
usersnew

        User-ID   Age         city            region          country
0             1   NaN          nyc          new york              usa
1             2  18.0     stockton        california              usa
2             3   NaN       moscow   yukon territory           russia
3             4  17.0        porto          v.n.gaia         portugal
4             5   NaN  farnborough             hants   united kingdom
...         ...   ...          ...               ...              ...
278853   278854   NaN     portland            oregon              usa
278854   278855  50.0       tacoma        washington   united kingdom
278855   278856   NaN     brampton           ontario           canada
278856   278857   NaN    knoxville         tennessee              usa
278857   278858   NaN       dublin               n/a          ireland

[278858 rows x 5 columns]

### 2. For each book in the Books dataset, compute its average rating.

In [73]:
books = pd.read_csv(r"C:\Users\rendy\Desktop\esame\Books.csv", sep=';', encoding = 'latin-1')
books

C:\Users\rendy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271355,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271356,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271357,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271358,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [74]:
booksr = pd.read_csv(r"C:\Users\rendy\Desktop\esame\Book-Ratings.csv", sep=';', encoding = 'latin-1')
booksr

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [75]:
booksunited = pd.merge(booksr, books, on="ISBN")
del booksunited["Image-URL-S"]
del booksunited["Image-URL-M"]
del booksunited["Image-URL-L"]

In [76]:
#vedere quali sono le colonne
booksunited

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
...,...,...,...,...,...,...,...
1031130,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub
1031131,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation
1031132,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple
1031133,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA
1031134,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing

In [77]:
#Il voto medio è stato calcolato all'interno della colonna Book-Ratin all'interno del
books_rating = booksunited.groupby(booksunited['ISBN']).aggregate({ 'Book-Title': 'first', 'Book-Author': 'first', 'Publisher':'first', 'Book-Rating': 'mean',})

In [78]:
books_rating.head(20)

,Book-Title,Book-Author,Publisher,Book-Rating
ISBN,,,,
0000913154,The Way Things Work: An Illustrated Encycloped...,C. van Amerongen (translator),Simon &amp; Schuster,8.0
0001010565,Mog's Christmas,Judith Kerr,Collins,0.0
0001046438,Liar,Stephen Fry,Harpercollins Uk,9.0
0001046713,Twopence to Cross the Mersey,Helen Forrester,HarperCollins Publishers,0.0
000104687X,"T.S. Eliot Reading \The Wasteland\"" and Other ...",T.S. Eliot,HarperCollins Publishers,6.0
0001046934,The Prime of Miss Jean Brodie,Muriel Spark,Trafalgar Square Publishing,0.0
0001047213,The Fighting Man,Gerald Seymour,HarperCollins Publishers,9.0
0001047647,First Among Equals,Jeffrey Archer,Trafalgar Square Books,0.0
0001047663,Matter Of Honour,Jeffrey Archer,Trafalgar Square Books,0.0
0001047868,Kidnapped,Robert Louis Stevenson,Trafalgar Square Publishing,0.0
0001047973,Brave New World,Aldous Huxley,Trafalgar Square Publishing,9.0
000104799X,Monk's-hood,Ellis Peters,HarperCollins Publishers,7.5
0001048082,Made in America,Bill Bryson,HarperCollins Publishers,8.0
0001048473,Nothing Can Be Better,Barns &amp; Budd,Atlantic,0.0
0001049879,Daughters of the Storm,Elizabeth Buchan,HarperCollins Publishers,0.0
0001052039,Dark Spectre,Michael Dibdin,HarperCollins Publishers,0.0
0001053736,Sir Gawain and the Green Knight,J. R. R. Tolkien,HarperCollins UK,5.0
0001053744,Pearl and Sir Orfeo,J. R. R. Tolkien,Trafalgar Square Publishing,5.0
0001055607,Cereus Blooms At Night,Shani Mootoo,Fairmount Books Ltd Remainders,8.0
0001056107,Farmer Giles of Ham: And Other Stories,J. R. R. Tolkien,Trafalgar Square,8.0

### 3. For each book in the GoodBooks dataset, compute its average rating.

In [79]:
list(goodbooks.columns.values)

['book_id',
 'goodreads_book_id',
 'best_book_id',
 'work_id',
 'books_count',
 'isbn',
 'isbn13',
 'authors',
 'original_publication_year',
 'original_title',
 'title',
 'language_code',
 'average_rating',
 'ratings_count',
 'work_ratings_count',
 'work_text_reviews_count',
 'ratings_1',
 'ratings_2',
 'ratings_3',
 'ratings_4',
 'ratings_5',
 'image_url',
 'small_image_url']

In [80]:
goodbooks['new_avg'] = (goodbooks['ratings_1'] + 2*goodbooks['ratings_2'] + 3*goodbooks['ratings_3'] + 4*goodbooks['ratings_4'] + 5*goodbooks['ratings_5'])/goodbooks['work_ratings_count']
goodbooks['new_avg'] = round(goodbooks['new_avg'], ndigits=2)
goodbooks[['average_rating','new_avg']].head()

   average_rating  new_avg
0            4.34     4.34
1            4.44     4.44
2            3.57     3.57
3            4.25     4.25
4            3.89     3.89

In [81]:
goodbooks[['book_id', 'isbn',  'original_title', 'new_avg', 'average_rating']]

,book_id,isbn,original_title,new_avg,average_rating
0,1,439023483,The Hunger Games,4.34,4.34
1,2,439554934,Harry Potter and the Philosopher's Stone,4.44,4.44
2,3,316015849,Twilight,3.57,3.57
3,4,61120081,To Kill a Mockingbird,4.25,4.25
4,5,743273567,The Great Gatsby,3.89,3.89
...,...,...,...,...,...
94,95,375751513,The Picture of Dorian Gray,4.06,4.06
95,96,345803507,Fifty Shades Freed,3.88,3.88
96,97,393970124,Dracula,3.98,3.98
97,98,307269981,Flickan som lekte med elden,4.22,4.22
98,99,1612130585,Fifty Shades Darker,3.87,3.87

## 4. Merge together all rows sharing the same book title, author and publisher. We will call the resulting datset `merged books`. The books that have not been merged together will not appear in `merged books`.

In [82]:
merged_books = books.groupby(by=["Book-Title", "Book-Author", "Publisher"], as_index=False).size()
print(len(merged_books))
merged_books.head()

266127

,Book-Title,Book-Author,Publisher,size
0,A Light in the Storm: The Civil War Diary of ...,Karen Hesse,Hyperion Books for Children,1
1,Always Have Popsicles,Rebecca Harvin,Rebecca L. Harvin,1
2,Apple Magic (The Collector's series),Martina Boudreau,Amer Cooking Guild,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",Nancy N. Rue,Zonderkidz,1
4,Beyond IBM: Leadership Marketing and Finance ...,Lou Mobley,"Teleonet, Incorporated",1

In [83]:
merged_books = merged_books[merged_books['size'] >= 2]
merged_books

,Book-Title,Book-Author,Publisher,size
41,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,2
59,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,2
255,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,2
465,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books,3
713,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group,2
...,...,...,...,...
265525,Zia,Scott O'Dell,Laurel-Leaf Books,2
265526,Zia,Scott O'Dell,Yearling Books,2
265562,Zimmermann Telegram,Barbara Tuchman,Ballantine Books,2
265625,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4
266117,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,2

### 5. For each book in `merged books` compute its average rating.

In [84]:
merged_books_left = pd.merge(merged_books,books_rating, on=['Book-Title',
                                               'Book-Author', 'Publisher'], how='left')
merged_books_left

,Book-Title,Book-Author,Publisher,size,Book-Rating
0,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,2,6.000000
1,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,2,0.000000
2,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,2,0.000000
3,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,2,3.400000
4,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,2,7.250000
...,...,...,...,...,...
9906,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4,10.000000
9907,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4,10.000000
9908,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4,10.000000
9909,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,2,5.000000
9910,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,2,2.666667

In [103]:
booksr = merged_books_left.groupby(['Book-Title', 'Book-Author', 'Publisher'])['Book-Rating'].mean()

In [106]:
merged_books = pd.merge(merged_books, booksr, on=['Book-Title', 'Book-Author', 'Publisher'])
merged_books

,Book-Title,Book-Author,Publisher,size,Book-Rating_x,Book-Rating_y
0,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,2,3.000000,3.000000
1,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,2,1.700000,1.700000
2,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,2,6.958333,6.958333
3,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books,3,3.111111,3.111111
4,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group,2,0.000000,0.000000
...,...,...,...,...,...,...
4720,Zia,Scott O'Dell,Laurel-Leaf Books,2,2.547619,2.547619
4721,Zia,Scott O'Dell,Yearling Books,2,1.000000,1.000000
4722,Zimmermann Telegram,Barbara Tuchman,Ballantine Books,2,2.000000,2.000000
4723,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4,10.000000,10.000000
4724,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,2,3.833333,3.833333

### 6. For each book in merged books compute the minimum and maximum of the average ratings over all corresponding books in the books dataset.

In [87]:
maxs = merged_books_left.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index=False)['Book-Rating'].max()
mins= merged_books_left.groupby(['Book-Title', 'Book-Author', 'Publisher'], as_index=False)['Book-Rating'].min()


mins.rename({'Book-Rating': 'Minimum_avg'}, axis='columns', inplace=True)
maxs.rename({'Book-Rating': 'Maximum_avg'}, axis='columns', inplace=True)

In [88]:
merged_books_left = pd.merge(merged_books, 
                        mins, 
                        on=['Book-Title', 'Book-Author', 'Publisher']).merge(maxs, on=['Book-Title', 'Book-Author', 'Publisher'])
merged_books_left

,Book-Title,Book-Author,Publisher,size,Book-Rating,Minimum_avg,Maximum_avg
0,!%@ (A Nutshell handbook),Donnalyn Frey,O'Reilly,2,3.000000,0.000000,6.000000
1,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes,National Geographic,2,1.700000,0.000000,3.400000
2,"10,000 dreams interpreted: A dictionary of dreams",Gustavus Hindman Miller,Barnes &amp; Nobles Books,2,6.958333,6.666667,7.250000
3,101 Famous Poems,Roy J. Cook,McGraw-Hill/Contemporary Books,3,3.111111,0.000000,5.000000
4,15 Houseplants Even You Can't Kill,Joe Elder,Berkley Pub Group,2,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
4720,Zia,Scott O'Dell,Laurel-Leaf Books,2,2.547619,1.666667,3.428571
4721,Zia,Scott O'Dell,Yearling Books,2,1.000000,0.000000,2.000000
4722,Zimmermann Telegram,Barbara Tuchman,Ballantine Books,2,2.000000,0.000000,4.000000
4723,Zoids Chaotic Century (Zoids: Chaotic Century ...,Michiro Ueyama,Viz Comics,4,10.000000,10.000000,10.000000
4724,Ã?Ã?berleben in der WÃ?ÃÂ¼ste Danakil.,RÃ?ÃÂ¼diger Nehberg,Piper,2,3.833333,2.666667,5.000000

### 7. For each book in `goodbooks`, compute the list of its authors. Assuming that the number of reviews with a text (column `work_text_reviews_count`) is split equally among all authors, find for each authors the total number of reviews with a text. We will call this quantity the *shared number of reviews with a text*.

In [90]:
goodbooks[goodbooks['authors'].str.contains(',')]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,new_avg
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,4.44
12,13,5470,5470,153313,995,451524934,9.780452e+12,"George Orwell, Erich Fromm, CelÃ¢l Ãster",1949.0,Nineteen Eighty-Four,...,2053394,45518,41845,86425,324874,692021,908229,https://images.gr-assets.com/books/1348990566m...,https://images.gr-assets.com/books/1348990566s...,4.14
14,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,4.10
15,16,2429135,2429135,1708725,274,307269752,9.780307e+12,"Stieg Larsson, Reg Keeland",2005.0,MÃ¤n som hatar kvinnor,...,1929834,62543,54835,86051,285413,667485,836050,https://images.gr-assets.com/books/1327868566m...,https://images.gr-assets.com/books/1327868566s...,4.11
17,18,5,5,2402163,376,043965548X,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©, Rufus Beck",1999.0,Harry Potter and the Prisoner of Azkaban,...,1969375,36099,6716,20413,166129,509447,1266670,https://images.gr-assets.com/books/1499277281m...,https://images.gr-assets.com/books/1499277281s...,4.53
20,21,2,2,2809203,307,439358078,9.780439e+12,"J.K. Rowling, Mary GrandPrÃ©",2003.0,Harry Potter and the Order of the Phoenix,...,1840548,28685,9528,31577,180210,494427,1124806,https://images.gr-assets.com/books/1387141547m...,https://images.gr-assets.com/books/1387141547s...,4.46
22,23,15881,15881,6231171,398,439064864,9.780439e+12,"J.K. Rowling, Mary GrandPrÃ©",1998.0,Harry Potter and the Chamber of Secrets,...,1906199,34172,8253,42251,242345,548266,1065084,https://images.gr-assets.com/books/1474169725m...,https://images.gr-assets.com/books/1474169725s...,4.37
23,24,6,6,3046572,332,439139600,9.780439e+12,"J.K. Rowling, Mary GrandPrÃ©",2000.0,Harry Potter and the Goblet of Fire,...,1868642,31084,6676,20210,151785,494926,1195045,https://images.gr-assets.com/books/1361482611m...,https://images.gr-assets.com/books/1361482611s...,4.53
24,25,136251,136251,2963218,263,545010225,9.780545e+12,"J.K. Rowling, Mary GrandPrÃ©",2007.0,Harry Potter and the Deathly Hallows,...,1847395,51942,9363,22245,113646,383914,1318227,https://images.gr-assets.com/books/1474171184m...,https://images.gr-assets.com/books/1474171184s...,4.61
26,27,1,1,41335427,275,439785960,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",2005.0,Harry Potter and the Half-Blood Prince,...,1785676,27520,7308,21516,136333,459028,1161491,https://images.gr-assets.com/books/1361039191m...,https://images.gr-assets.com/books/1361039191s...,4.54
28,29,18135,18135,3349450,1937,743477111,9.780743e+12,"William Shakespeare, Robert Jackson",1595.0,An Excellent conceited Tragedie of Romeo and J...,...,1672889,14778,57980,153179,452673,519822,489235,https://images.gr-assets.com/books/1327872146m...,https://images.gr-assets.com/books/1327872146s...,3.73
34,35,865,865,4835472,458,61122416,9.780061e+12,"Paulo Coelho, Alan R. Clarke",1988.0,O Alquimista,...,1403995,55781,74846,123614,289143,412180,504212,https://images.gr-assets.com/books/1483412266m...,https://images.gr-assets.com/books/1483412266s...,3.82
42,43,10210,10210,2977639,2568,142437204,9.780142e+12,"Charlotte BrontÃ«, Michael Mason",1847.0,Jane Eyre,...,1286135,31212,35132,64274,212294,400214,574221,https://images.gr-assets.com/books/1327867269m...,https://images.gr-assets.com/books/1327867269s...,4.10
57,58,2956,2956,1835605,2277,142437174,9.780142e+12,"Mark Twain, John Seelye, Guy Cardwell",1884.0,The Adventures of Huckleberry Finn,...,1001491,12448,28467,76630,255722,344356,296316,https://images.gr-assets.com/books/1405973850m...,https://images.gr-assets.com/books/1405973850s...,3.80
58,59,24178,24178,987048,180,64410935,9.780064e+12,"E.B. White, Garth Williams, Rosemary Wells",1952.0,Charlotte's Web,...,1084842,13044,18450,41124,191415,346090,487763,https://images.gr-assets.com/books/1439632243m...,https://images.gr-assets.com/books/1439632243s...,4.15
62,63,6185,6185,1565818,2498,393978893,9.780394e+12,"Emily BrontÃ«, Richard J. Dunn",1847.0,Wuthering Heights,...,1001135,26157,46469,84084,215320,309180,346082,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...,3.82
70,71,18490,18490,4836639,2618,141439475,9.780141e+12,"Mary Wollstonecraft Shelley, Percy Bysshe Shel...",1818.0,"Frankenstein; or, The Modern Prometheus",...,883563,19993,29366,74142,231022,300495,248538,https://images.gr-assets.com/books/1381512375m...,https://images.gr-assets.com/books/1381512375s...,3.75
75,76,14935,14935,2809709,1969,141439661,9.780141e+12,"Jane Austen, Tony Tanner, Ros Ballaster",1811.0,Sense and Sensibility,...,779382,11526,18430,34699,141987,272512,311754,https://images.gr-assets.com/books/1397245675m...,https://images.gr-assets.com/books/1397245675s...,4.06
76,77,38709,38709,1679789,138,439244196,9.780439e+12,"Louis Sachar, Louis Sachar",1998.0,Holes,...,764637,15832,15495,43786,176946,269153,259257,https://images.gr-assets.com/books/1327781893m...,https://images.gr-assets.com/books/1327781893s...,3.93
78,79,1381,1381,3356006,1703,143039954,9.780143e+12,"Homer, Robert Fagles, E.V. Rieu, FrÃ©dÃ©ric Mu...",-720.0,á½Î´ÏÏÏÎµÎ¹Î±,...,710757,8101,29703,65629,183082,224120,208223,https://images.gr-assets.com/books/1390173285m...,https://images.gr-assets.com/books/1390173285s...,3.73
79,80,157993,157993,2180358,1708,156012197,9.780156e+12,"Antoine de Saint-ExupÃ©ry, Richard Howard, Dom...",1946.0,Le Petit Prince,...,859286,24537,15039,32866,114714,228440,468227,https://images.gr-assets.com/books/1367545443m...,https://images.gr-assets.com/books/1367545443s...,4.28
82,83,1953,1953,2956372,525,141439602,9.780141e+12,"Charles Dickens, Richard Maxwell, Hablot Knigh...",1859.0,A Tale of Two Cities,...,677713,13093,28904,55555,153305,216378,223571,https://images.gr-assets.com/books/1344922523m...,https://images.gr-assets.com/books/1344922523s...,3.81
86,87,1617,1617,265616,109,374500010,9.780375e+12,"Elie Wiesel, Marion Wiesel",1958.0,Un di Velt Hot Geshvign,...,707879,22001,7761,18539,90575,230227,360777,https://images.gr-assets.com/books/1473495285m...,https://images.gr-assets.com/books/1473495285s...,4.30
91,92,1202,1202,5397,124,61234001,9.780061e+12,"Steven D. Levitt, Stephen J. Dubner",2005.0,Freakonomics: A Rogue Economist Explores the H...,...,549301,13668,14586,26538,115789,216316,176072,https://images.gr-assets.com/books/1327909092m...,https://images.gr-assets.com/books/1327909092s...,3.93
93,94,320,320,3295655,555,60531045,9.780061e+12,"Gabriel GarcÃ­a MÃ¡rquez, Gregory Rabassa",1967.0,Cien aÃ±os de soledad,...,575667,21671,27340,37646,87675,155809,267197,https://images.gr-assets.com/books/1327881361m...,https://images.gr-assets.com/books/1327881361s...,4.04
94,95,5297,5297,1858012,2303,375751513,9.780376e+12,"Oscar Wilde, Jeffrey Eugenides",1891.0,The Picture of Dorian Gray,...,674551,19647,9825,30735,129420,246892,257679,https://images.gr-assets.com/books/1424596966m...,https://images.gr-assets.com/books/1424596966s...,4.06
96,97,17245,17245,3165724,2207,393970124,9.780394e+12,"Bram Stoker, Nina Auerbach, David J. Skal",1897.0,Dracula,...,689739,17263,11756,36719,151396,246043,243825,https://images.gr-assets.com/books/1387151694m...,https://images.gr-assets.com/books/1387151694s...,3.98
97,98,5060378,5060378,6976108,209,307269981,9.780307e+12,"Stieg Larsson, Reg Keeland",2006.0,Flickan som lekte med elden,...,649253,31423,4623,15781,91021,258236,279592,https://images.gr-assets.com/books/1351778881m...,https://images.gr-assets.com/books/1351778881s...,4.22

In [161]:
dictionary_authors_reviews = {}
for index, row in goodbooks.iterrows():
    lista = row['authors'].split(',')
    
    for author in lista:
        author = author.strip()
        
        if author not in dictionary_authors_reviews:
            dictionary_authors_reviews[author] = row['work_text_reviews_count']/len(lista)
        else:
            dictionary_authors_reviews[author] += row['work_text_reviews_count']/len(lista)

In [97]:
dictionary_authors_reviews

{'Suzanne Collins': 340066.0,
 'J.K. Rowling': 136668.0,
 'Mary GrandPrÃ©': 136668.0,
 'Stephenie Meyer': 258573.0,
 'Harper Lee': 72586.0,
 'F. Scott Fitzgerald': 51992.0,
 'John Green': 230584.0,
 'J.R.R. Tolkien': 52986.0,
 'J.D. Salinger': 44920.0,
 'Dan Brown': 66672.0,
 'Jane Austen': 52994.0,
 'Khaled Hosseini': 103375.0,
 'Veronica Roth': 156896.0,
 'George Orwell': 50644.666666666664,
 'Erich Fromm': 15172.666666666666,
 'CelÃ¢l Ã\x9cster': 15172.666666666666,
 'Anne Frank': 6941.666666666667,
 'Eleanor Roosevelt': 6941.666666666667,
 'B.M. Mooyaart-Doubleday': 6941.666666666667,
 'Stieg Larsson': 46983.0,
 'Reg Keeland': 46983.0,
 'Rufus Beck': 12033.0,
 'Alice Sebold': 36642.0,
 'William Golding': 26886.0,
 'William Shakespeare': 7389.0,
 'Robert           Jackson': 7389.0,
 'Gillian Flynn': 121614.0,
 'Kathryn Stockett': 78204.0,
 'John Steinbeck': 24642.0,
 'Arthur Golden': 25605.0,
 'E.L. James': 128776.0,
 'Paulo Coelho': 27890.5,
 'Alan R. Clarke': 27890.5,
 'Lois Lowry': 54084.0,
 'C.S. Lewis': 15186.0,
 'Audrey Niffenegger': 43382.0,
 'George R.R. Martin': 46205.0,
 'Elizabeth Gilbert': 49714.0,
 'Rick Riordan': 46006.0,
 'Louisa May Alcott': 17090.0,
 'Charlotte BrontÃ«': 15606.0,
 'Michael Mason': 15606.0,
 'Nicholas Sparks': 17279.0,
 'Yann Martel': 42962.0,
 'Sara Gruen': 55732.0,
 'Markus Zusak': 93611.0,
 'Ray Bradbury': 30694.0,
 'Shel Silverstein': 23602.0,
 'Cassandra Clare': 51589.0,
 'Christopher Paolini': 18280.0,
 'Douglas Adams': 20345.0,
 'Aldous Huxley': 20095.0,
 'Sue Monk Kidd': 26522.0,
 'Mark Twain': 4149.333333333333,
 'John Seelye': 4149.333333333333,
 'Guy Cardwell': 4149.333333333333,
 'E.B. White': 4348.0,
 'Garth Williams': 4348.0,
 'Rosemary Wells': 4348.0,
 'Mark Haddon': 35796.0,
 'Paula Hawkins': 93600.0,
 'Philip Pullman': 14915.0,
 'Emily BrontÃ«': 13078.5,
 'Richard J. Dunn': 13078.5,
 'Jodi Picoult': 30719.0,
 'Kurt Vonnegut Jr.': 19646.0,
 'Margaret Mitchell': 16050.0,
 'Stephen Chbosky': 47116.0,
 'Orson Scott Card': 38054.0,
 'Mary Wollstonecraft Shelley': 6664.333333333333,
 'Percy Bysshe Shelley': 6664.333333333333,
 'Maurice Hindle': 6664.333333333333,
 'Stephen King': 14936.0,
 'Helen Fielding': 8157.0,
 'Tony Tanner': 3842.0,
 'Ros Ballaster': 3842.0,
 'Louis Sachar': 15832.0,
 'Lauren Weisberger': 8024.0,
 'Homer': 1620.2,
 'Robert Fagles': 1620.2,
 'E.V. Rieu': 1620.2,
 'FrÃ©dÃ©ric Mugler': 1620.2,
 'Bernard Knox': 1620.2,
 'Antoine de Saint-ExupÃ©ry': 6134.25,
 'Richard Howard': 6134.25,
 'Dom Marcos Barbosa': 6134.25,
 'Melina Karakosta': 6134.25,
 'Jeannette Walls': 40777.0,
 'Jon Krakauer': 17299.0,
 'Charles Dickens': 4364.333333333333,
 'Richard Maxwell': 4364.333333333333,
 'Hablot Knight Browne': 4364.333333333333,
 'Michael Crichton': 8143.0,
 'John Grisham': 4239.0,
 'Elie Wiesel': 11000.5,
 'Marion Wiesel': 11000.5,
 'William Goldman': 15630.0,
 'S.E. Hinton': 22662.0,
 'James Dashner': 48942.0,
 'Steven D. Levitt': 6834.0,
 'Stephen J. Dubner': 6834.0,
 'Frances Hodgson Burnett': 13054.0,
 'Gabriel GarcÃ\xada MÃ¡rquez': 10835.5,
 'Gregory Rabassa': 10835.5,
 'Oscar Wilde': 9823.5,
 'Jeffrey Eugenides': 9823.5,
 'Bram Stoker': 5754.333333333333,
 'Nina Auerbach': 5754.333333333333,
 'David J. Skal': 5754.333333333333}

In [98]:
author_reviews = pd.DataFrame(dictionary_authors_reviews.items())
author_reviews.rename({0: 'authors',1:'reviews'},axis='columns',inplace=True)
author_reviews.reviews = author_reviews.reviews.round().astype(int)
author_reviews

               authors  reviews
0      Suzanne Collins   340066
1         J.K. Rowling   136668
2       Mary GrandPrÃ©   136668
3      Stephenie Meyer   258573
4           Harper Lee    72586
..                 ...      ...
104        Oscar Wilde     9824
105  Jeffrey Eugenides     9824
106        Bram Stoker     5754
107      Nina Auerbach     5754
108      David J. Skal     5754

[109 rows x 2 columns]

### 8. For each year of publication, determine the author that has the largest value of the shared number of reviews with a text.

In [122]:
authors = []

def author_reviews_computed(row):
    authors_list = row['authors'].split(',')
    for i in  authors_list :
        authors.append([row['book_id'], row['original_publication_year'], i, row['work_text_reviews_count']/len( authors_list )])
        
goodbooks.apply(author_reviews_computed, 1)
good_books_authors = pd.DataFrame(authors, columns=['good_book_id', 'original_publication_year', 'author', 'reviews_with_a_text'])

In [123]:
summed_reviews_author = good_books_authors.groupby(['original_publication_year', 'author'], as_index = False)['reviews_with_a_text'].sum()
summed_reviews_author.head(10)

   original_publication_year                     author  reviews_with_a_text
0                     -720.0               Bernard Knox               1620.2
1                     -720.0                  E.V. Rieu               1620.2
2                     -720.0          FrÃ©dÃ©ric Mugler               1620.2
3                     -720.0              Robert Fagles               1620.2
4                     -720.0                      Homer               1620.2
5                     1595.0   Robert           Jackson               7389.0
6                     1595.0        William Shakespeare               7389.0
7                     1811.0              Ros Ballaster               3842.0
8                     1811.0                Tony Tanner               3842.0
9                     1811.0                Jane Austen               3842.0

In [127]:
max_x_year = sum_reviews_author_year.groupby('original_publication_year', as_index=False)['reviews_with_a_text'].max()
max_x_year.head()

   original_publication_year  reviews_with_a_text
0                     -720.0          1620.200000
1                     1595.0          7389.000000
2                     1811.0          3842.000000
3                     1813.0         49152.000000
4                     1818.0          6664.333333

In [125]:
max_author_year = pd.merge(sum_reviews_author_year, max_per_year, on = ['original_publication_year', 'reviews_with_a_text'])
max_author_year

   original_publication_year                     author  reviews_with_a_text
0                     -720.0               Bernard Knox               1620.2
1                     -720.0                  E.V. Rieu               1620.2
2                     -720.0          FrÃ©dÃ©ric Mugler               1620.2
3                     -720.0              Robert Fagles               1620.2
4                     -720.0                      Homer               1620.2
5                     1595.0   Robert           Jackson               7389.0
6                     1595.0        William Shakespeare               7389.0
7                     1811.0              Ros Ballaster               3842.0
8                     1811.0                Tony Tanner               3842.0
9                     1811.0                Jane Austen               3842.0

### 9. Assuming that there are no errors in the ISBN fields, find the books in both datasets, and compute the difference of average rating according to the ratings and the goodratings datasets

In [144]:
b_difference = pd.merge(books[['ISBN', 'Book-Title', 'Book-Rating']], goodbooks[['isbn','average_rating']], left_on='ISBN', right_on='isbn')
b_difference['diff_avg'] = b_difference['Book-Rating'] - b_difference['average_rating']
b_difference

,ISBN,Book-Title,Book-Rating,isbn,average_rating,diff_avg
0,1400032717,The Curious Incident of the Dog in the Night-T...,4.813187,1400032717,3.85,0.963187
1,014028009X,Bridget Jones's Diary,3.751852,014028009X,3.75,0.001852
2,014038572X,The Outsiders (Now in Speak!),4.460674,014038572X,4.06,0.400674
3,1594480001,The Kite Runner,2.400000,1594480001,4.26,-1.860000
4,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,3.533333,043965548X,4.53,-0.996667

### 10. Split the users dataset according to the age. One dataset contains the users with unknown age, one with age 0-14, one with age 15-24, one with age 25-34, and so on.

In [148]:
split_user = {}
index = 0
split_user['NaN'] = users[users['Age'].isnull()]
while index < users['Age'].max():
    indexHigh = index + 15 if index == 0 else index + 10
    key = f'{index}-{indexHigh-1}'
    split_user[key] = users[(users['Age'] >= index) & (users['Age'] < indexHigh)]
    index = indexHigh
split_user

{'NaN':         User-ID                            Location  Age
 0             1                  nyc, new york, usa  NaN
 2             3     moscow, yukon territory, russia  NaN
 4             5  farnborough, hants, united kingdom  NaN
 6             7                 washington, dc, usa  NaN
 7             8            timmins, ontario, canada  NaN
 ...         ...                                 ...  ...
 278849   278850          sergnano, lombardia, italy  NaN
 278853   278854               portland, oregon, usa  NaN
 278855   278856           brampton, ontario, canada  NaN
 278856   278857           knoxville, tennessee, usa  NaN
 278857   278858                dublin, n/a, ireland  NaN

 [110762 rows x 3 columns],
 '0-14':         User-ID                           Location   Age
 10           11     melbourne, victoria, australia  14.0
 18           19                          weston, ,  14.0
 40           41            santee, california, usa  14.0
 119         120    villeneuve d`ascq, nord, france  13.0
 219         220           bogota, bogota, colombia   0.0
 ...         ...                                ...   ...
 278574   278575  burnaby, british columbia, canada  14.0
 278582   278583              steele, missouri, usa  13.0
 278668   278669          spring hill, fl, hernando  13.0
 278751   278752        london, nova scotia, canada   9.0
 278793   278794           st. paul, minnesota, usa  14.0

 [4313 rows x 3 columns],
 '15-24':         User-ID                               Location   Age
 1             2              stockton, california, usa  18.0
 3             4              porto, v.n.gaia, portugal  17.0
 19           20           langhorne, pennsylvania, usa  19.0
 23           24                  cologne, nrw, germany  19.0
 27           28  freiburg, baden-wuerttemberg, germany  24.0
 ...         ...                                    ...   ...
 278834   278835               karachi, sindh, pakistan  18.0
 278837   278838                   massillon, ohio, usa  15.0
 278845   278846               toronto, ontario, canada  23.0
 278848   278849            georgetown, ontario, canada  23.0
 278852   278853         stranraer, n/a, united kingdom  17.0

 [40001 rows x 3 columns],
 '25-34':         User-ID                                      Location   Age
 9            10                    albacete, wisconsin, spain  26.0
 12           13                   barcelona, barcelona, spain  26.0
 17           18        rio de janeiro, rio de janeiro, brazil  25.0
 26           27                        chicago, illinois, usa  32.0
 32           33                   costa mesa, california, usa  34.0
 ...         ...                                           ...   ...
 278832   278833  hanoi, australian capital territory, vietnam  25.0
 278842   278843                  pismo beach, california, usa  28.0
 278843   278844                      st. paul, minnesota, usa  28.0
 278850   278851                            dallas, texas, usa  33.0
 278851   278852               brisbane, queensland, australia  32.0

 [50767 rows x 3 columns],
 '35-44':         User-ID                           Location   Age
 53           54              eubank, kentucky, usa  44.0
 66           67     framingham, massachusetts, usa  43.0
 69           70           rochester, new york, usa  44.0
 74           75        long beach, california, usa  37.0
 84           85    london, england, united kingdom  41.0
 ...         ...                                ...   ...
 278794   278795        santa pola, alicante, spain  35.0
 278797   278798               stayton, oregon, usa  39.0
 278807   278808  esplugas de llobregat, n/a, spain  43.0
 278813   278814          san jose, california, usa  35.0
 278823   278824           madison, new jersey, usa  41.0

 [32690 rows x 3 columns],
 '45-54':         User-ID                                   Location   Age
 20           21             ferrol / spain, alabama, spain  46.0
 43           44        black mountain, north carolina, usa  51.0
 88           89                          plano, texas, usa  54.0
 92           93                       eden, wisconsin, usa  50.0
 102         103              litchfield park, arizona, usa  53.0
 ...         ...                                        ...   ...
 278808   278809  norfolk, england, england, united kingdom  49.0
 278811   278812                  frazer, pennsylvania, usa  50.0
 278835   278836                des moines, washington, usa  47.0
 278839   278840                 encinitas, california, usa  45.0
 278854   278855         tacoma, washington, united kingdom  50.0

 [23152 rows x 3 columns],
 '55-64':         User-ID                             Location   Age
 5             6        santa monica, california, usa  61.0
 24           25             oakland, california, usa  55.0
 62           63                 nyack, new york, usa  57.0
 113         114          ligonier, pennsylvania, usa  57.0
 116         117             ann arbor, michigan, usa  57.0
 ...         ...                                  ...   ...
 278809   278810  perth, western australia, australia  62.0
 278814   278815                portland, oregon, usa  56.0
 278816   278817                 urbandale, iowa, usa  60.0
 278819   278820      ninety six, south carolina, usa  59.0
 278831   278832       new smyrna beach, florida, usa  62.0

 [12493 rows x 3 columns],
 '65-74':         User-ID                                Location   Age
 171         172  rio de janeiro, rio de janeiro, brazil  66.0
 251         252             13001 safat, kuwait, kuwait  65.0
 482         483                shelton, washington, usa  72.0
 539         540            watertown, south dakota, usa  67.0
 678         679                oregon city, oregon, usa  65.0
 ...         ...                                     ...   ...
 278620   278621              victoria, delaware, canada  74.0
 278621   278622             bellingham, washington, usa  68.0
 278738   278739           gillett, pennsylvania, canada  66.0
 278806   278807          pollock pines, california, usa  66.0
 278820   278821                 clarence, new york, usa  70.0

 [3596 rows x 3 columns],
 '75-84':         User-ID                                      Location   Age
 220         221                      palm beach, florida, usa  79.0
 689         690                      lake oswego, oregon, usa  80.0
 957         958                           lindale, texas, usa  78.0
 1147       1148                  prairie village, kansas, usa  79.0
 1485       1486              montmorency, victoria, australia  75.0
 ...         ...                                           ...   ...
 275616   275617                         namur, namur, belgium  81.0
 278317   278318                  studio city, california, usa  77.0
 278348   278349                           carlin, nevada, usa  76.0
 278412   278413                    kansas city, missouri, usa  76.0
 278471   278472  biel-benken bl/schweiz, alabama, switzerland  81.0

 [615 rows x 3 columns],
 '85-94':         User-ID                                 Location   Age
 4346       4347                      nemoville, n/a, usa  93.0
 11389     11390                    albany, new york, usa  93.0
 17375     17376               green valley, arizona, usa  90.0
 27096     27097              townsville, new mexico, usa  91.0
 27637     27638  north bondi, new south wales, australia  93.0
 ...         ...                                      ...   ...
 266589   266590               apollo beach, florida, usa  87.0
 268472   268473      new plymouth, taranaki, new zealand  86.0
 271087   271088          london, england, united kingdom  92.0
 271843   271844                          elfin forest, ,  93.0
 275565   275566                    roma, arkansas, italy  91.0

 [83 rows x 3 columns],
 '95-104':         User-ID                                   Location    Age
 1288       1289                  san jose, california, usa  103.0
 1322       1323                   milano, lombardia, italy  104.0
 3084       3085          zÃ¼rich, switzerland, switzerland  104.0
 3436       3437                      honolulu, hawaii, usa  103.0
 3688       3689                       vigo, galicia, spain  104.0
 ...         ...                                        ...    ...
 276352   276353                   hillsdale, new york, usa  104.0
 277107   277108                quinto, ticino, switzerland  104.0
 277503   277504                 san diego, california, usa  103.0
 277558   277559                 lake george, new york, usa   98.0
 278301   278302  dÃ¼sseldorf, nordrhein-westfalen, germany  104.0

 [278 rows x 3 columns],
 '105-114':         User-ID                                   Location    Age
 8329       8330        newcastle, thenorth, united kingdom  114.0
 32655     32656                 boston, massachusetts, usa  110.0
 80532     80533                7dfgfdv56, bremen, alderney  106.0
 86588     86589                      lagos, lagos, nigeria  108.0
 95863     95864                       edinburgh, scotland,  108.0
 97245     97246                 woburn, massachusetts, usa  106.0
 123169   123170         sydeny, new south wales, australia  114.0
 142792   142793                      napa, california, usa  114.0
 155586   155587               thailand, thailand, thailand  106.0
 165351   165352                      ojai, california, usa  108.0
 178615   178616                   burbank, california, usa  109.0
 179568   179569                      buch, berlin, germany  105.0
 200719   200720           london, colorado, united kingdom  106.0
 212515   212516                   lisboa, lisboa, portugal  113.0
 216891   216892  skeyton, norwich, england, united kingdom  107.0
 222659   222660                      opelika, alabama, usa  114.0
 224633   224634           fuerteventura, las palmas, spain  111.0
 250633   250634                  singapore, n/a, singapore  114.0
 257177   257178                     polonia, idaho, bhutan  105.0
 263066   263067      villa gesell, buenos aires, argentina  113.0,
 '115-124':         User-ID                                 Location    Age
 3210       3211  le mesnil saint denis, yvelines, france  119.0
 17902     17903        antiqua, n/a, antigua and barbuda  123.0
 27717     27718                blublub city, n/a, belize  123.0
 41383     41384           london, london, united kingdom  124.0
 48280     48281  palmerston north, manawatu, new zealand  124.0
 73698     73699                     zaragoza, n/a, spain  123.0
 83882     83883                  danang, danang, vietnam  123.0
 85846     85847                   shanghai, texas, china  123.0
 86720     86721   santiago de compostela, galicia, spain  124.0
 146284   146285               ariege, montsegur, rosello  123.0
 150860   150861              baton rouge, louisiana, usa  116.0
 160863   160864                    reston, virginia, usa  116.0
 161428   161429              bermigham, connecticut, usa  115.0
 180574   180575            gulyai-polye, rostov, ukraine  115.0
 217550   217551              barcelona, catalunya, spain  124.0
 221391   221392                    tallinn, n/a, estonia  123.0
 224763   224764                rockaway, new jersey, usa  116.0
 225172   225173                     haifa, haifa, israel  115.0
 225525   225526                     kamuela, hawaii, usa  124.0
 227814   227815                 nowhere, new jersey, usa  118.0
 231945   231946               san diego, california, usa  116.0
 245084   245085                    succ, new jersey, usa  123.0
 266534   266535                   lizvill, arkansas, usa  116.0,
 '125-134':         User-ID                           Location    Age
 24410     24411             pirkkala, n/a, finland  133.0
 28090     28091        fort collins, colorado, usa  128.0
 50768     50769  glasgow, scotland, united kingdom  133.0
 122559   122560   montreuil sous bois, n/a, france  132.0
 276047   276048                wien, wien, austria  127.0,
 '135-144':         User-ID                                   Location    Age
 30589     30590  cambridge, cambridgeshire, united kingdom  141.0
 46263     46264            london, england, united kingdom  141.0
 71799     71800                 sunnyvale, california, usa  136.0
 90765     90766                    rangoon, rangoon, burma  136.0
 96713     96714      ponte vedra, festa da lÃ­ngua, galiza  141.0
 165823   165824      marsfield, new south wales, australia  137.0
 173018   173019         victoria, british columbia, canada  138.0
 261553   261554                      arak, tennessee, iran  143.0
 264933   264934                      madrid, madrid, spain  140.0,
 '145-154':         User-ID                                Location    Age
 11325     11326     johannesburg, gauteng, south africa  148.0
 12691     12692              jacksonville, florida, usa  151.0
 35860     35861                barneveld, new york, usa  148.0
 101667   101668  stuttgart, baden-wuerttemberg, germany  151.0
 103246   103247                      austin, texas, usa  148.0
 104815   104816                    iowa city, iowa, usa  147.0
 121725   121726     balmain, new south wales, australia  148.0
 136356   136357               puyallup, washington, usa  152.0
 184948   184949      voorhees township, new jersey, usa  147.0
 196035   196036          san francisco, california, usa  148.0
 225959   225960            babenhausen, hessen, germany  146.0,
 '155-164':         User-ID                        Location    Age
 61103     61104             largo, florida, usa  162.0
 63665     63666          kearney, missouri, usa  156.0
 126167   126168  hoffman estates, illinois, usa  159.0
 218682   218683          ceres, california, usa  157.0,
 '165-174':         User-ID                Location    Age
 48098     48099  genova, liguria, italy  172.0
 119281   119282  chicago, illinois, usa  168.0,
 '175-184':         User-ID                   Location    Age
 45688     45689        wolwich, maine, usa  175.0
 183332   183333  granada, andalucia, spain  183.0,
 '185-194':         User-ID                           Location    Age
 132667   132668            bucharest, n/a, romania  186.0
 275582   275583  koblenz, rheinland-pfalz, germany  189.0,
 '195-204':         User-ID                                 Location    Age
 13272     13273            harrisburg, pennsylvania, usa  201.0
 102627   102628                  the dalles, oregon, usa  199.0
 160894   160895     haddington, scotland, united kingdom  200.0
 163654   163655                 langenfeld, nrw, germany  199.0
 184860   184861               fort morgan, colorado, usa  204.0
 190646   190647      fode-te ai porco, raffah, palestine  204.0
 210012   210013       sydney, new south wales, australia  204.0
 226615   226616                     tucson, arizona, usa  204.0
 257429   257430  reutlingen, baden-wuerttemberg, germany  200.0,
 '205-214':         User-ID                               Location    Age
 52471     52472              frisco/dallas, texas, usa  209.0
 52648     52649    vancouver, british columbia, canada  212.0
 76864     76865      arrasate, gipuzkoa, euskal herria  209.0
 92857     92858         melbourne, victoria, australia  210.0
 156353   156354              hamburg, hamburg, germany  210.0
 168716   168717             rochester, washington, usa  207.0
 216665   216666  christchurch, canterbury, new zealand  208.0
 257113   257114            glen ridge, new jersey, usa  210.0,
 '215-224':         User-ID                               Location    Age
 37834     37835          dunbarton, new hampshire, usa  219.0
 211520   211521  santa maria da feira, porto, portugal  223.0
 245230   245231           christchurch, canterbury, nz  220.0,
 '225-234':         User-ID                      Location    Age
 1578       1579  akure, ondo/nigeria, nigeria  231.0
 8457       8458      milano, lombardia, italy  230.0
 163826   163827        olympia, cascadia, usa  226.0
 172057   172058       lake mary, florida, usa  229.0
 182769   182770        las vegas, nevada, usa  228.0
 192412   192413      elverta, california, usa  228.0
 242213   242214         golden, colorado, usa  228.0,
 '235-244':        User-ID                                Location    Age
 8781      8782                calgary, alberta, canada  239.0
 20856    20857  stuttgart, baden-wuerttemberg, germany  244.0
 58285    58286                      midvale, utah, usa  237.0}

### 11. Find the books that appear only in the goodbooks datasets.

In [154]:
only_in_goodbooks=pd.merge(goodbooks,books,how='left',left_on='isbn',right_on='ISBN')

In [155]:
only_in_goodbooks1=only_in_goodbooks[only_in_goodbooks['ISBN'].isnull()][goodbooks.columns]
only_in_goodbooks1

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,new_avg
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...,4.34
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,4.44
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...,3.57
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...,4.25
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...,3.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,5297,5297,1858012,2303,375751513,9.780376e+12,"Oscar Wilde, Jeffrey Eugenides",1891.0,The Picture of Dorian Gray,...,674551,19647,9825,30735,129420,246892,257679,https://images.gr-assets.com/books/1424596966m...,https://images.gr-assets.com/books/1424596966s...,4.06
95,96,13536860,13536860,18034963,133,345803507,9.780346e+12,E.L. James,2012.0,Fifty Shades Freed,...,610116,25287,39079,55691,109963,140304,265079,https://images.gr-assets.com/books/1336418837m...,https://images.gr-assets.com/books/1336418837s...,3.88
96,97,17245,17245,3165724,2207,393970124,9.780394e+12,"Bram Stoker, Nina Auerbach, David J. Skal",1897.0,Dracula,...,689739,17263,11756,36719,151396,246043,243825,https://images.gr-assets.com/books/1387151694m...,https://images.gr-assets.com/books/1387151694s...,3.98
97,98,5060378,5060378,6976108,209,307269981,9.780307e+12,"Stieg Larsson, Reg Keeland",2006.0,Flickan som lekte med elden,...,649253,31423,4623,15781,91021,258236,279592,https://images.gr-assets.com/books/1351778881m...,https://images.gr-assets.com/books/1351778881s...,4.22
98,99,11857408,11857408,16813814,147,1612130585,9.781612e+12,E.L. James,2011.0,Fifty Shades Darker,...,623340,28052,37245,58935,114203,150906,262051,https://images.gr-assets.com/books/1358266080m...,https://images.gr-assets.com/books/1358266080s...,3.87

### 12. Assuming that each pair (author, title) identifies a book, for each book find the number of times it appears in the books dataset. Which books appear the most times?

In [156]:
books_count = books.groupby(['Book-Title', 'Book-Author'], as_index=False)['ISBN'].count()
books_count.rename(columns={'ISBN': 'Count'}, inplace=True)
books_count.sort_values(by=['Count'], ascending=False)

                              Book-Title              Book-Author  Count
113850                      Little Women        Louisa May Alcott     21
248700                 Wuthering Heights             Emily Bronte     20
9858      Adventures of Huckleberry Finn               Mark Twain     20
149441               Pride and Prejudice              Jane Austen     18
215213                 The Secret Garden  Frances Hodgson Burnett     16
...                                  ...                      ...    ...
86396                 Heritage of Hastur    Marion Zimmer Bradley      1
86397   Heritage of Music (4 Volume Set)          Michael Raeburn      1
86398                  Heritage of Shame           Meg Hutchinson      1
86399                  Heritage of Stars        Clifford D. Simak      1
251182               Ã?Ã?thique en toc         Didier Daeninckx      1

[251183 rows x 3 columns]

### 13. Find the author with the highest average rating according to the goodbooks datasets.

In [157]:
author_ratings = {}
for index, row in goodbooks.iterrows():
    lista = row['authors'].split(',')
    for author in lista:
        author = author.strip()
        if author not in author_ratings:
            author_ratings[author] = []
        author_ratings[author].append(row['average_rating'])

author_ratings

{'Suzanne Collins': [4.34, 4.3, 4.03],
 'J.K. Rowling': [4.44, 4.53, 4.46, 4.37, 4.53, 4.61, 4.54],
 'Mary GrandPrÃ©': [4.44, 4.53, 4.46, 4.37, 4.53, 4.61, 4.54],
 'Stephenie Meyer': [3.57, 3.52, 3.69, 3.7, 3.84],
 'Harper Lee': [4.25],
 'F. Scott Fitzgerald': [3.89],
 'John Green': [4.26, 4.09, 3.88],
 'J.R.R. Tolkien': [4.25, 4.34],
 'J.D. Salinger': [3.79],
 'Dan Brown': [3.85, 3.79],
 'Jane Austen': [4.24, 4.06],
 'Khaled Hosseini': [4.26, 4.34],
 'Veronica Roth': [4.24, 4.07],
 'George Orwell': [4.14, 3.87],
 'Erich Fromm': [4.14],
 'CelÃ¢l Ã\x9cster': [4.14],
 'Anne Frank': [4.1],
 'Eleanor Roosevelt': [4.1],
 'B.M. Mooyaart-Doubleday': [4.1],
 'Stieg Larsson': [4.11, 4.22],
 'Reg Keeland': [4.11, 4.22],
 'Rufus Beck': [4.53],
 'Alice Sebold': [3.77],
 'William Golding': [3.64],
 'William Shakespeare': [3.73],
 'Robert           Jackson': [3.73],
 'Gillian Flynn': [4.03],
 'Kathryn Stockett': [4.45],
 'John Steinbeck': [3.84],
 'Arthur Golden': [4.08],
 'E.L. James': [3.67, 3.88, 3.87],
 'Paulo Coelho': [3.82],
 'Alan R. Clarke': [3.82],
 'Lois Lowry': [4.12],
 'C.S. Lewis': [4.19],
 'Audrey Niffenegger': [3.95],
 'George R.R. Martin': [4.45],
 'Elizabeth Gilbert': [3.51],
 'Rick Riordan': [4.23],
 'Louisa May Alcott': [4.04],
 'Charlotte BrontÃ«': [4.1],
 'Michael Mason': [4.1],
 'Nicholas Sparks': [4.06],
 'Yann Martel': [3.88],
 'Sara Gruen': [4.07],
 'Markus Zusak': [4.36],
 'Ray Bradbury': [3.97],
 'Shel Silverstein': [4.29, 4.38],
 'Cassandra Clare': [4.12],
 'Christopher Paolini': [3.86],
 'Douglas Adams': [4.2],
 'Aldous Huxley': [3.97],
 'Sue Monk Kidd': [4.01],
 'Mark Twain': [3.8],
 'John Seelye': [3.8],
 'Guy Cardwell': [3.8],
 'E.B. White': [4.15],
 'Garth Williams': [4.15],
 'Rosemary Wells': [4.15],
 'Mark Haddon': [3.85],
 'Paula Hawkins': [3.88],
 'Philip Pullman': [3.94],
 'Emily BrontÃ«': [3.82],
 'Richard J. Dunn': [3.82],
 'Jodi Picoult': [4.06],
 'Kurt Vonnegut Jr.': [4.06],
 'Margaret Mitchell': [4.28],
 'Stephen Chbosky': [4.21],
 'Orson Scott Card': [4.3],
 'Mary Wollstonecraft Shelley': [3.75],
 'Percy Bysshe Shelley': [3.75],
 'Maurice Hindle': [3.75],
 'Stephen King': [4.17],
 'Helen Fielding': [3.75],
 'Tony Tanner': [4.06],
 'Ros Ballaster': [4.06],
 'Louis Sachar': [3.93, 3.93],
 'Lauren Weisberger': [3.7],
 'Homer': [3.73],
 'Robert Fagles': [3.73],
 'E.V. Rieu': [3.73],
 'FrÃ©dÃ©ric Mugler': [3.73],
 'Bernard Knox': [3.73],
 'Antoine de Saint-ExupÃ©ry': [4.28],
 'Richard Howard': [4.28],
 'Dom Marcos Barbosa': [4.28],
 'Melina Karakosta': [4.28],
 'Jeannette Walls': [4.24],
 'Jon Krakauer': [3.94],
 'Charles Dickens': [3.81],
 'Richard Maxwell': [3.81],
 'Hablot Knight Browne': [3.81],
 'Michael Crichton': [3.96],
 'John Grisham': [4.03],
 'Elie Wiesel': [4.3],
 'Marion Wiesel': [4.3],
 'William Goldman': [4.25],
 'S.E. Hinton': [4.06],
 'James Dashner': [4.02],
 'Steven D. Levitt': [3.93],
 'Stephen J. Dubner': [3.93],
 'Frances Hodgson Burnett': [4.12],
 'Gabriel GarcÃ\xada MÃ¡rquez': [4.04],
 'Gregory Rabassa': [4.04],
 'Oscar Wilde': [4.06],
 'Jeffrey Eugenides': [4.06],
 'Bram Stoker': [3.98],
 'Nina Auerbach': [3.98],
 'David J. Skal': [3.98]}

In [158]:
author_avg_rating={}

for key, value in author_ratings.items():
    author_avg_rating[key]  = round(sum(value)/len(value),3)

author_avg_rating

{'Suzanne Collins': 4.223,
 'J.K. Rowling': 4.497,
 'Mary GrandPrÃ©': 4.497,
 'Stephenie Meyer': 3.664,
 'Harper Lee': 4.25,
 'F. Scott Fitzgerald': 3.89,
 'John Green': 4.077,
 'J.R.R. Tolkien': 4.295,
 'J.D. Salinger': 3.79,
 'Dan Brown': 3.82,
 'Jane Austen': 4.15,
 'Khaled Hosseini': 4.3,
 'Veronica Roth': 4.155,
 'George Orwell': 4.005,
 'Erich Fromm': 4.14,
 'CelÃ¢l Ã\x9cster': 4.14,
 'Anne Frank': 4.1,
 'Eleanor Roosevelt': 4.1,
 'B.M. Mooyaart-Doubleday': 4.1,
 'Stieg Larsson': 4.165,
 'Reg Keeland': 4.165,
 'Rufus Beck': 4.53,
 'Alice Sebold': 3.77,
 'William Golding': 3.64,
 'William Shakespeare': 3.73,
 'Robert           Jackson': 3.73,
 'Gillian Flynn': 4.03,
 'Kathryn Stockett': 4.45,
 'John Steinbeck': 3.84,
 'Arthur Golden': 4.08,
 'E.L. James': 3.807,
 'Paulo Coelho': 3.82,
 'Alan R. Clarke': 3.82,
 'Lois Lowry': 4.12,
 'C.S. Lewis': 4.19,
 'Audrey Niffenegger': 3.95,
 'George R.R. Martin': 4.45,
 'Elizabeth Gilbert': 3.51,
 'Rick Riordan': 4.23,
 'Louisa May Alcott': 4.04,
 'Charlotte BrontÃ«': 4.1,
 'Michael Mason': 4.1,
 'Nicholas Sparks': 4.06,
 'Yann Martel': 3.88,
 'Sara Gruen': 4.07,
 'Markus Zusak': 4.36,
 'Ray Bradbury': 3.97,
 'Shel Silverstein': 4.335,
 'Cassandra Clare': 4.12,
 'Christopher Paolini': 3.86,
 'Douglas Adams': 4.2,
 'Aldous Huxley': 3.97,
 'Sue Monk Kidd': 4.01,
 'Mark Twain': 3.8,
 'John Seelye': 3.8,
 'Guy Cardwell': 3.8,
 'E.B. White': 4.15,
 'Garth Williams': 4.15,
 'Rosemary Wells': 4.15,
 'Mark Haddon': 3.85,
 'Paula Hawkins': 3.88,
 'Philip Pullman': 3.94,
 'Emily BrontÃ«': 3.82,
 'Richard J. Dunn': 3.82,
 'Jodi Picoult': 4.06,
 'Kurt Vonnegut Jr.': 4.06,
 'Margaret Mitchell': 4.28,
 'Stephen Chbosky': 4.21,
 'Orson Scott Card': 4.3,
 'Mary Wollstonecraft Shelley': 3.75,
 'Percy Bysshe Shelley': 3.75,
 'Maurice Hindle': 3.75,
 'Stephen King': 4.17,
 'Helen Fielding': 3.75,
 'Tony Tanner': 4.06,
 'Ros Ballaster': 4.06,
 'Louis Sachar': 3.93,
 'Lauren Weisberger': 3.7,
 'Homer': 3.73,
 'Robert Fagles': 3.73,
 'E.V. Rieu': 3.73,
 'FrÃ©dÃ©ric Mugler': 3.73,
 'Bernard Knox': 3.73,
 'Antoine de Saint-ExupÃ©ry': 4.28,
 'Richard Howard': 4.28,
 'Dom Marcos Barbosa': 4.28,
 'Melina Karakosta': 4.28,
 'Jeannette Walls': 4.24,
 'Jon Krakauer': 3.94,
 'Charles Dickens': 3.81,
 'Richard Maxwell': 3.81,
 'Hablot Knight Browne': 3.81,
 'Michael Crichton': 3.96,
 'John Grisham': 4.03,
 'Elie Wiesel': 4.3,
 'Marion Wiesel': 4.3,
 'William Goldman': 4.25,
 'S.E. Hinton': 4.06,
 'James Dashner': 4.02,
 'Steven D. Levitt': 3.93,
 'Stephen J. Dubner': 3.93,
 'Frances Hodgson Burnett': 4.12,
 'Gabriel GarcÃ\xada MÃ¡rquez': 4.04,
 'Gregory Rabassa': 4.04,
 'Oscar Wilde': 4.06,
 'Jeffrey Eugenides': 4.06,
 'Bram Stoker': 3.98,
 'Nina Auerbach': 3.98,
 'David J. Skal': 3.98}

In [159]:
df1= pd.DataFrame.from_dict(author_avg_rating, orient='index')
df1 =df1.rename(columns={0: "Count"})
df1.sort_values(by='Count', ascending=False)

                    Count
Rufus Beck          4.530
J.K. Rowling        4.497
Mary GrandPrÃ©      4.497
Kathryn Stockett    4.450
George R.R. Martin  4.450
...                   ...
E.V. Rieu           3.730
Lauren Weisberger   3.700
Stephenie Meyer     3.664
William Golding     3.640
Elizabeth Gilbert   3.510

[109 rows x 1 columns]